.tasty-heading {
  font-family: 'DM Sans';
  font-style: italic;
  font-weight: 700;
  font-size: 16px;
  width: 115px;
  height: 24px;

  /* identical to box height, or 133% */

  color: #f7931e;
  margin-left: 10px;
}

@media screen and (min-width: 772px) {
  .tasty-heading {
    font-size: 24px;
    width: 172px;
    height: 32px;
  }
}

.logout-button {
  padding: 8px 16px;
  gap: 8px;

  width: 73px;
  height: 32px;

  background: #f7931e;
  border-radius: 8px;
  margin-left: 10px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  outline: none;
  border-width: 0px;
  color: #ffffff;
  cursor: pointer;
}

.logout-pop-button {
  padding: 8px 16px;
  gap: 8px;

  width: 73px;
  height: 32px;

  background: #f7931e;
  border-radius: 8px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  outline: none;
  border-width: 0px;
  color: #ffffff;
  cursor: pointer;
}

.home-heading {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;

  /* identical to box height, or 162% */

  letter-spacing: -0.355556px;

  list-style-type: none;
}

.home-pop-heading {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;

  /* identical to box height, or 162% */

  letter-spacing: -0.355556px;
}

.cart-heading {
  /* Headline/05 */

  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;

  /* identical to box height, or 162% */

  letter-spacing: -0.355556px;

  /* Light / blue-gray / 700 */

  margin-left: 10px;
  list-style-type: none;
}

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  /* Light / blue-gray / 50 */

  background: #f8fafc;
  width: 90%;
  margin-left: 20px;
  margin-right: 20px;
}

@media screen and (min-width: 570px) {
  .header-container {
    width: 100%;
    margin-left: 00px;
    margin-right: 0px;
  }
}

.img-container {
  display: flex;
  align-items: center;
}

.home-header-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  flex: 1;
  list-style-type: none;
  margin-top: 0px;
  margin-bottom: 0px;
}

.header-taste-heading {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.nav-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 0px;
  max-width: 1200px;
  margin-left: 0px;
}

.home-header-desktop-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  flex: 1;
  list-style-type: none;
  margin-top: 0px;
  margin-bottom: 0px;
}

@media screen and (max-width: 552px) {
  .home-header-desktop-container {
    display: none;
  }
}

@media screen and (min-width: 772px) {
  .header-mobile-container {
    display: none;
  }
}

.header-hat-heading {
  width: 43px;
  height: 43px;
}

@media screen and (min-width: 772px) {
  .header-hat-heading {
    width: 53px;
    height: 43px;
  }
}

.header-cart-count {
  font-size: 14px;
}

.hamburger-button {
  background-color: transparent;
  outline: none;
  border-width: 0px;
}

.close-button {
  background-color: transparent;
  outline: none;
  border-width: 0px;
}

.modal-container {
  padding: 10px;
  margin-top: 0px;
  background: #e5e5e5;
  margin-left: 0px;
  width: 100%;
}

.count-heading {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  color: blue;

  /* identical to box height, or 162% */

  letter-spacing: -0.355556px;

  /* Light / blue-gray / 700 */

  margin-left: 3px;
  list-style-type: none;
}
